<%= stylesheet_link_tag 'compare_indicators', media: 'all', 'data-turbolinks-track' => true %>

<!-- Contents of page -->
<div class="content-container">
  <div class="row vis">
    <div class="col s10 compare-vis-container">
      <!-- Loading spinner to show when data for visualisation is being loaded -->
      <div class="loading-compare"></div>
      <!-- The Visualisation -->
      <%= tag('div', id: 'compare-vis', data: {url: explore_compare_indicators_data_path } ) %>
      <%= tag('/div') %>
    </div>

    <!-- Visualisation filters -->
    <div class="col s2 filter-container" id="comparison-vis-filters">
      <h5 id="data-name">Compare Indicators</h5>
      <p id="data-info">Select X, Y, and Z to compare different datasets</p>
      <div class="input-field col s12 indicator-select">
        <%= select_tag 'select-compareX-dataset', options_for_select(@datasets, @datasets[0][0]) %>
        <label id="data-select-label">Select X</label>
      </div>
      <div class="input-field col s12 indicator-select">
        <%= select_tag 'select-compareY-dataset', options_for_select(@datasets, @datasets[0][0]) %>
        <label id="data-select-label">Select Y</label>
      </div>
      <div class="input-field col s12 indicator-select">
        <%= select_tag 'select-compareZ-dataset', options_for_select(@zdata, @zdata[0][0]) %>
        <label id="data-select-label">Select Z (Radius of Bubbles)</label>
      </div>
      <div class="input-field col s12 indicator-select">
      <a class="waves-effect waves-light btn" id="update-btn" onClick="sendUpdateRequest();">Update Graph</a>
      </div>
      <div class="input-field col s12 indicator-select" id="animation-box">
        <div class="line-separator"></div>
        <label id="animation-label">View Animation</label>
          <p>
            <i class="material-icons md-36 buttons" id="play-bubble-btn">play_circle_outline</i>
            <i class="material-icons md-36 buttons" id="stop-bubble-btn">pause_circle_outline</i>
          </p>
      </div>
    </div>
  </div>
</div>

<script>
createComparisonVis("#compare-vis");
</script>
