<%= stylesheet_link_tag 'gender_inequality', media: 'all', 'data-turbolinks-track' => true %>

<!-- Contents of page -->
<div class="content-container">
  <div class="row vis">
    <div class="col s10 gii-vis-container">
      <!-- Loading spinner to show when data for visualisation is being loaded -->
      <div class="loading-left"></div>
      <!-- The Visualisation -->
      <%= tag('div', id: 'gii-vis', data: {url: explore_gii_data_path } ) %>
      <%= tag('/div') %>
    </div>
    <div class="col s2 gii-filter-container">
      <div>
      <h5 id="data-name">Gender Inequality Index (GII)</h5>
      <p id="data-info">Comparison of the GII with education, labour force, and political, participation rates of males and females</p>
      </div>
        <div class="input-field col s12" id="gii-year-selector">
          <%= select_tag 'select-year', options_for_select(@years.collect { |y| [y, y]}, @years.max) %>
          <label id="year-select-label">Select Year</label>
        </div>
        <div id="paraCoords-country-select">
          <label>Select Country</label>
          <%= select_tag "paracoords-country", options_for_select(@countries, ""), style:"width:100%" %>
        </div>
        <div class="col s12" id="action-buttons">
          <span class="gii-spans new badge" id="select-badge" onClick="highlightCountry(true);">Select</span>
          <span class="gii-spans new badge" id="deselect-badge" onClick="highlightCountry(false);">Deselect</span>
          <span class="gii-spans new badge" id="clear-all-badge" onClick="highlightCountry(null);">Clear All</span>
        </div>
      <div class="col s12" id="legend-area">
      <div class="line-separator" id="gii-line-sep"></div>
      <label>Filter by Region</label>
      <div id="region-filters"></div>
      </div>
    </div>
  </div>
</div>

<script>
createGiiVis("#gii-vis");
</script>
