<%= stylesheet_link_tag 'gender_inequality', media: 'all', 'data-turbolinks-track' => true %>

<!-- Contents of page -->
<div class="content-container">
  <div class="row vis">
    <div class="col s10 gii-vis-container">
      <!-- Loading spinner to show when data for visualisation is being loaded -->
      <div class="loading-left"></div>
      <!-- The Visualisation -->
      <%= tag('div', id: 'gii-vis', data: {url: explore_gii_data_path } ) %>
      <%= tag('/div') %>
    </div>
    <div class="col s2 gii-filter-container">
      <h5>Gender Inequality Index</h4>
        <div id="gii-year-slider">
          <label>Select Year</label>
          <p class="range-field">
            <input type="range" id="gii-years-selector" min="<%= @years.min %>" max="<%= @years.max %>" value="<%= @years.max %>" />
          </p>
        </div>
        <div id="paraCoords-country-select">
          <%= select_tag "paracoords-country", options_for_select(@countries, ""), style:"width:100%" %>
        </div>
        <div id="action-buttons">
          <a class="btn-floating" id="add-country" title="Select Country" onClick="highlightCountry(true);"><i class="material-icons">add</i></a>
          <a class="btn-floating" id="minus-country" title="Remove Country" onClick="highlightCountry(false);"><i class="material-icons">remove</i></a>
          <a class="btn-floating" id="clear-country" title="Clear All" onClick="highlightCountry(null);"><i class="material-icons">clear</i></a>
        </div>
      <div id="region-filters"></div>
    </div>
  </div>
</div>

<script>
createGiiVis("#gii-vis");
</script>
