<%= stylesheet_link_tag 'income', media: 'all', 'data-turbolinks-track' => true %>
<!-- Render the nav bar -->
<%= render 'navbar' %>

<!-- Page Content -->
<div class="content-container">
  <div class="row vis">
    <div class="col s12 income-vis-container">
      <div id="dot-plot-title" title="GNI derived from the ratio of female to male wage,
      female and male shares of economically active population and
      GNI (in 2011 purchasing power pairty terms)">Estimated Gross National Income Per Capita (Male vs. Female)</div>

      <!-- Loading spinner to show when data for visualisation is being loaded -->
      <div class="loading-income"></div>
      <!-- The Visualisation -->
      <%= tag('div', id: 'income-vis', data: {url: explore_income_data_path} ) %>
      <%= tag('/div') %>
    </div>

    <!-- Filters! -->
    <div class="col s12 income-filter-container">
      <div class="row">
        <div class="input-field col s3">
          <%= select_tag "select-income-dataset", options_for_select(@datasets, @datasets[0][0]) %>
          <label>Select Indicator</label>
        </div>
        <div class="input-field col s2">
          <form id="income-year-slider">
            <label>Select Year</label>
            <p class="range-field">
              <input type="range" id="income-years-selector" min="<%= @years.min %>" max="<%= @years.max %>" value="<%= @years.max %>" />
            </p>
          </form>
        </div>
        <div class="input-field col s2">
          <label id="country-label">Select Country</label>
          <%= select_tag "select-country", options_for_select(@countries, ""), style:"width:100%" %>
        </div>
        <div class="input-field col s2" id="action-buttons">
          <a class="btn-floating" id="add-country" title="Select Country" onClick="highlightData(true);"><i class="material-icons">add</i></a>
          <a class="btn-floating" id="minus-country" title="Remove Country" onClick="highlightData(false);"><i class="material-icons">remove</i></a>
          <a class="btn-floating" id="clear-country" title="Clear All" onClick="highlightData(null);"><i class="material-icons">clear</i></a>
        </div>
        <div class="input-field col s2">
          <%= select_tag "select-regions", options_for_select(@regions, "World") %>
          <label>Filter by Region</label>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
createIncomeVis("#income-vis");
</script>
