<%= stylesheet_link_tag 'income', media: 'all', 'data-turbolinks-track' => true %>

<!-- Page Content -->
<div class="content-container">

  <!-- Help popup box with explanation of how to use visualisation -->
  <div class="main-help top-right-help">
    <a href="#" class="main-help-label">Help</a>
    <div class="main-help-textbox">
      <p class="main-help-text">
        <b class="help-title">How To Use This Visualisation</b>
        </br>
        This visualisation allows you to view an estimate of the average gross national income
        (GNI) of males and females across different countries in the world. You can hover over the data lines and dots
        to view exact data values for each country.
        </br></br>
        <b>What is GNI?</b></br>
        The GNI is a measurement of a country's income. The GNI values shown in this visualisation aim to give an indication of the average GNI
        attributed to a male and female in the country. The estimated values plotted here are derived from the female to male wage ratio, the share of
        males and females in the labour force, and the country's GNI (in terms of 2011 purchasing power pairty).
        </br></br>
        <b>Available Filters</b></br>
        Select View - Adjust the visualisation to view the percentage difference between the male and female GNI's instead of the actual values.</br>
        Select Year - Explore this data across different years.</br>
        Select Region - Customise the visualisation by selecting a specific region in the world to view. </br>
        Select Country - Use the search box to find a country. Selecting a country will highlight it green.
        </br></br>
        <b>Data Sources</b></br>
        Find information about this <%= link_to("here", home_about_path) %>
      </p>
    </div>
  </div>

  <!-- actual content of visualisation -->
  <div class="row vis">
    <div class="col s12 income-vis-container">
      <div id="dot-plot-title">Estimated Gross National Income Per Capita (Male vs. Female)
        <i class="material-icons helper-tooltip large-help">
          help_outline<span class="helpertext helper-right" id="gni-left-help">Estimated GNI for males and females is derived from: </br>- ratio of female to male wage, </br>- share of males and females in the labour force, </br>- total GNI for the country (in terms of 2011 purchasing power pairty)</span>
        </i>
      </div>

      <!-- Loading spinner to show when data for visualisation is being loaded -->
      <div class="loading loading-income"></div>
      <!-- The Visualisation -->
      <%= tag('div', id: 'income-vis', data: {url: explore_income_data_path} ) %>
      <%= tag('/div') %>
    </div>

    <!-- Filters! -->
    <div class="col s12">
      <div class="row flexbox">
        <div class="input-field col s4 income-filter-container">
          <label class="income-labels">Select View</label>
          <form id="income-filter-view">
            <p id="income-radio">
              <input class="with-gap" name="view-select" type="radio" id="income-gni" value='<%= @datasets[0][1] %>' checked/>
              <label class="income-view-label" for="income-gni"><%= @datasets[0][0] %></label>
              <input class="with-gap" name="view-select" type="radio" id="income-percent" value='<%= @datasets[1][1] %>' />
              <label class="income-view-label" for="income-percent"><%= @datasets[1][0] %></label>
            </p>
          </form>
        </div>
        <div class="input-field col s2 income-filter-container">
          <label class="income-labels">Select Year</label>
          <%= select_tag 'income-select-year', options_for_select(@years.collect { |y| [y, y]}, @years.max) %>
        </div>
        <div class="input-field col s2 income-filter-container">
          <%= select_tag "select-regions", options_for_select(@regions, "World") %>
          <label class="income-labels" id="region-filter-label">Filter by Region</label>
        </div>
        <div class="input-field col s3 income-filter-container">
          <label class="income-labels">Select Country (Click 'Select' to make selection)
            <i class="material-icons helper-tooltip small-help">
              help_outline<span class="helpertext helper-bottom">Use the search box to find a country. Click 'Select' to select a country. Selecting a country will highlight it green.</span>
            </i>
          </label>
          <%= select_tag "select-country", options_for_select(@countries, ""), style:"width:100%" %>
          <div class="col s12" id="action-buttons">
            <span class="income-spans new badge" id="clear-all-badge" onClick="highlightData(null);">Clear All</span>
            <span class="income-spans new badge" id="select-badge" onClick="highlightData(true);">Select</span>
            <span class="income-spans new badge" id="deselect-badge" onClick="highlightData(false);">Deselect</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
createIncomeVis("#income-vis");
</script>
