<%= stylesheet_link_tag 'income', media: 'all', 'data-turbolinks-track' => true %>

<!-- Page Content -->
<div class="content-container">
  <div class="row vis">
    <div class="col s12 income-vis-container">
      <div id="dot-plot-title" title="GNI derived from the ratio of female to male wage,
      female and male shares of economically active population and
      GNI (in 2011 purchasing power pairty terms)">Estimated Gross National Income Per Capita (Male vs. Female)</div>

      <!-- Loading spinner to show when data for visualisation is being loaded -->
      <div class="loading-income"></div>
      <!-- The Visualisation -->
      <%= tag('div', id: 'income-vis', data: {url: explore_income_data_path} ) %>
      <%= tag('/div') %>
    </div>

    <!-- Filters! -->
    <div class="col s12">
      <div class="row flexbox">
        <div class="input-field col s4 income-filter-container">
            <label class="income-labels">Select View</label>
            <form id="income-filter-view">
              <p id="income-radio">
                <input class="with-gap" name="view-select" type="radio" id="income-gni" value='<%= @datasets[0][1] %>' checked/>
                <label class="income-view-label" for="income-gni"><%= @datasets[0][0] %></label>
                <input class="with-gap" name="view-select" type="radio" id="income-percent" value='<%= @datasets[1][1] %>' />
                <label class="income-view-label" for="income-percent"><%= @datasets[1][0] %></label>
              </p>
          </form>
        </div>
        <div class="input-field col s2 income-filter-container">
          <form id="income-year-slider">
            <label class="income-labels">Select Year</label>
            <div class="year-labels">
              <p class="year-slider-label" id="min-year"><%= @years.min %></p>
              <p class="year-slider-label" id="max-year"><%= @years.max %></p>
            </div>
            <div style="clear: both;"></div>
            <p class="range-field">
              <input type="range" id="income-years-selector" min="<%= @years.min %>" max="<%= @years.max %>" value="<%= @years.max %>" />
            </p>
          </form>
        </div>
        <div class="input-field col s2 income-filter-container">
          <%= select_tag "select-regions", options_for_select(@regions, "World") %>
          <label class="income-labels" id="region-filter-label">Filter by Region</label>
        </div>
        <div class="input-field col s3 income-filter-container">
          <label class="income-labels">Select Country</label>
          <%= select_tag "select-country", options_for_select(@countries, ""), style:"width:100%" %>
          <div class="col s12" id="action-buttons">
            <span class="income-spans new badge" id="select-badge" onClick="highlightData(true);">Select</span>
            <span class="income-spans new badge" id="deselect-badge" onClick="highlightData(false);">Deselect</span>
            <span class="income-spans new badge" id="clear-all-badge" onClick="highlightData(null);">Clear All</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
createIncomeVis("#income-vis");
</script>
