<div class="content-container">
  <div class="row">
    <div class="col s12 income-vis-container">
      <div id="dot-plot-title">Estimated Gross National Income Per Capita</div>
      <%= tag('div', id: 'income-vis', data: {url: @data_url} ) %>
      <%= tag('/div') %>
    </div>
    <div class="col s12 income-filter-container">
      <div class="row">
        <div class="input-field col s3">
          <select id="select-income-dataset">
            <option value="male">Estimated Gross National Income (GNI) Male vs. Female</option>
            <option value="diff">% Difference between Male GNI and Female GNI</option>
          </select>
          <label>Select Indicator</label>
        </div>
        <div class="input-field col s2">
          <form id="income-year-slider">
            <label>Select Year</label>
            <p class="range-field">
              <input type="range" id="income-years-selector" min="<%= @min_year %>" max="<%= @max_year %>" value="<%= @max_year %>" />
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
  createIncomeVis("#income-vis");
  </script>
