<!DOCTYPE html>
<html>
<head>
  <title>DevelopmentGoalsApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <%= javascript_include_tag 'application' %>
</head>
<body>
<%= render 'navbar' %>
<%= yield %>
</body>
</html>
